body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #4B0082, #3E0057); 
    color: #fff; 
    line-height: 1.6; 
}
header {
    background: linear-gradient(to right, #6A0FAD, #A10FAD); 
    color: white;
    text-align: center;
    padding: 30px 0; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid #A10FAD; 
}
h1 {
    margin: 0;
    font-size: 2.5rem; 
    letter-spacing: 1.2px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

#company-list {
    padding: 30px;
    margin: 40px auto;
    max-width: 1000px;
    background-color: #1C1C1C; 
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: transform 0.3s ease-in-out;
}

#company-list:hover {
    transform: scale(1.02);
}

#company-list h2 {
    color: #00BFFF; 
    text-align: center;
    margin-bottom: 30px; 
    font-size: 2rem; 
    font-weight: 600;
    letter-spacing: 1.2px; 
    text-transform: uppercase;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px; 
    padding: 15px; 
    background-color: #333; 
    border: 1px solid #555; 
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background-color: #444; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

li h3 {
    margin: 0;
    color: #00BFFF; 
    font-size: 1.6rem; 
    font-weight: 500;
}

li a {
    text-decoration: none;
    color: #fff; 
    background-color: #0072ff; 
    padding: 8px 16px; 
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem; 
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

li a:hover {
    background-color: #005cbf; 
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0; 
    font-size: 1rem; 
    letter-spacing: 1px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem; 
    }

    #company-list {
        padding: 20px; 
    }

    li {
        flex-direction: column; 
        align-items: flex-start; 
    }

    li a {
        width: 100%; 
        text-align: center; 
    }

    li h3 {
        font-size: 1.4rem; 
    }
}
